*{
    margin:0;
    padding:0;
    
}
body{
     height:100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color:powderblue;
    border:none;
}
.container{
    position: relative;
    height:55vh;
    max-width: 25%;
    width:100%;
    background-color: rgb(18, 18, 18);
   border-radius: 60px;
   box-shadow: 2px 2px 5px rgb(51, 49, 49);
}
#display{
    width:85%;
    height:60px;
    padding-right: 10px;
    background-color:none;
    color:white;
    background-color: black;
    box-shadow: 2px 2px 6px rgb(98, 96, 96);
    text-align: right;
    margin:30px 0px 10px 0px;
    font-size: 20px;
    border:none;
    outline: none;
}
#buttons{
    display:grid;
    grid-template-columns: repeat(4,70px);
    gap:14px;
    margin:10px 0px 0px 35px ;
    
}
#buttons button{
    width:60px;
    height:40px;
    font-size: 18px ;
    color:white;
    background-color: black;
    box-shadow: 2px 2px 5px rgb(98, 96, 96);

}
 #buttons #bttn{
    color:aqua;
}
